body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {}

/* header */
.header {
  background: #404040;
  display: flex;
  justify-content: start;
}

.img-youtube {
  width: 200px;
  height: 90px;
}

.search-all {
  display: flex;
  margin-left: 500px;
  margin-right: 580px;
}

.search {
  border-radius: 5px 5px 5px 5px;
  background: hsl(0deg 0% 7%);
  width: 502px;
  height: 40px;
  margin-top: 8px;
}

.icon-mic {
  width: 35px;
  height: 35px;
  border: 2px;
  border-radius: 50%;
  margin: 5px;
  margin-left: 10px;
  margin-top: 12px;
}

.icon-notification {
  width: 35px;
  height: 35px;
}

.icon-camera {
  width: 80px;
  height: 40px;
}

.avata {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}


.flex-center {
  display: flex;
  align-items: center;

}

/* hr text */
.hr  {
  border-top: 1px #717171;
  margin: 0;
}
.text {
  font-weight: 400;
}
/*  */


/* uggestions(thanh gợi ý) */
.suggestions {
  background: #404040;
  padding-left: 250px;
}


.sugges {
  background-color: darkgrey;
  border: 1px solid rgb(255 255 255 / 10%);
  padding: 10px;
  border-radius: 25px;
  margin: 12px;
  color: white;
}

.sugges:hover {
  background-color: white;
  opacity: 50%;
}

/* section left */
.section {
  background-color: rgb(81, 81, 81);
}

.sticky {
  position: sticky;
  top: 0;
}

.sticky-suggestions {
  position: sticky  ;
  top: 94px;
}

.sticky-left {
  position: fixed;
  top: 95px;
  height: 1100px;
  width: 250px;
  overflow: auto;
}

.color-section {
  color: white;
}

.margin-section {
  margin-top: 10px;
  margin-left: 24px;
  margin-right: 45px;
}
.font-weight  {
  color: #b0b0b0;
  font-weight: 500;
  padding: 8px 24px;
  letter-spacing: 0.5px;
}
.user-avt {
  height: 34px;
  width: 34px;
  border-radius: 50%;
}
.like {
  background-color: #eee;
  border-radius: 9%;
  width: 25px;
  height: 25px;
  padding-top: 6px;
  padding-left: 5px;

}
.heart {
  height: 20px;
  width: 20px;

}
.margin-left  {
  margin-left: 18px;
  margin-bottom: 10px;
}

/* video */
.cards  {
  display: flex;
  background-color: #777777;
  padding: 30px;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: #717171 0px 7px 29px 0px;
  width: 25%;
  margin-left: 30px;
}
.card-left  {
  margin-left: 250px;
  }
.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card-top {
  padding: 25px;
}
.card-title {
  font-weight: 600;
  margin-bottom: 25px;
}
.card-user  {
  display: flex;
  align-items: center;
}
.card-user-avata  {
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}
.card-user-info {
  padding-left: 20px;
  flex: 1;
}
.card-user-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
.card-user-live {
  color: #999;
  font-weight: 300;
  font-size: 13px;
}
.card-bottom  {
  padding: 25px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-view  {
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 6px;
  background-color: #ff6651;
}
.card-time  {
  font-size: 13px;
  color: #999;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
 .header  {
  
 }

  .margin-section {
    display: none;
  }
  .cards {
    height: 100%;
    width: 500px;
  }

    

}